@media screen and (max-width: 1060px) {
    primary { width:67%; }
    secondary { width:30%; margin-left:3%;}
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    primary { width:100%; }
    secondary { width:100%; margin:0; border:none; }
}

body{
  background-color: #75daad;
}
.center{
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #032d3c;
  color: whitesmoke;
}
img{
  border-radius:150px;
}
